:root {
    background-color:aqua
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 50;
    font-family:'Times New Roman', Times, serif
    }

    h3 {
        color:rgb(207, 96, 96)
    }

    .title{
      color: rgb(86, 86, 244);
      font-size: xx-large;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 40px;
    }

    .start-page, .score-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }

    button {
        border:none;
        outline: none;
    }

    #start-button, 
    #restart {
        font-size: x-large;
        padding: 25px;
        background: white;
        color: rgb(37, 197, 197);
        position: center;
        border-radius: 5px;
        border-style: none;
        margin: 40px
    }

    #restart {
        margin-top: 100px;
    }

    #display-container {
        background-color: white;
        padding:50px;
        width: 75%;
        margin:0 auto;
        position: center;
        border-radius: 10px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #timer {
        align-items: left;
        
    }

    #time-display {
        align-items: left;
        color:rgb(207, 96, 96);
        background-color: white;
        display:inline-flex;
        justify-content: center;
        border-radius: 5px;
        font-size: 20px;
        margin: 0 0 0 90%;
        height: 30px;
        width: 100px;

    }

    #question-container {
        background-color: white;
        padding:50px;
        width: 75%;
        margin:0 auto;
        margin-top: 25px;
        position: center;
        border-radius: 10px;
        
    }

    .response {
        align-items: left;
        color: blue;
        background-color: aqua;
        display: column;
        justify-content: left;
        border-radius: 5px;
        font-size: 20px;
        margin: 5px 5px 5px 5px;
        height: 50px;
        width: 150px;
    }

    .answer {
        background-color: rgb(127, 221, 127);
        border: rgb(127, 221, 127);
    }

    .wrong {
        background-color: rgb(238, 104, 104);
    }

    .hide{
        display: none
    }

    .score-container {
        background-color: #fff;
        width: 200px;
        height: 100px;
        margin-left: 50px;
    }

    #user-score {
        font-size: 20px;
        color: rgb(207, 96, 96); 
    }

    

